{% load static %}
{% include 'pages/login_modal.html' %}
<!--{ include 'pages/registration_modal.html' }-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="menu-container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">

        <div class="content-container">

            <div class="collapse navbar-collapse">
                <a href="/"><img id="logo" class="center-align inline-block" src="{% static 'logo.svg' %}">
                <h1 id="title" class="center-align inline-block">Kek or cringe?</h1></a>

                <ul class="navbar-nav mr-auto">
                    {% block b_menu %}
                    {% for item in menu %}
                    <li class="nav-item active menu-item">
                        <h3><a class="nav-link" href="{{ item.url }}">{{ item.name }}</a></h3>
                    </li>
                    {% endfor %}
                    {% endblock %}
                </ul>

                <ul class="navbar-nav mr-1">
                    {% block usermenu %}

                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <h4 class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false" id="username">{{ request.user }}</h4>
                        <div class="dropdown-menu">
                            <h6><a class="dropdown-item" href="/profile/">View profile</a></h6>
                            <hr class="dropdown-hr">
                            <h6><a class="dropdown-item" href="/setting/">Setting</a></h6>
                            <hr class="dropdown-hr">
                            <h6><a class="dropdown-item" href="/logout/">Logout</a></h6>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <div class="row">
                            <h4><a class="nav-link" data-toggle="modal" data-target="#regModal">Sign up</a></h4>
                            <h4><a class="nav-link" data-toggle="modal" data-target="#loginModal">Login</a></h4>
                        </div>
                    </li>
                    {% endif %}

                    {% endblock %}
                </ul>
            </div>

        </div>
    </nav>
</div>