
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

html, html > * {
    background-color: #333645;
    color: #FAEEEE;
    font-family: 'Exo 2', sans-serif;
}
h1, h2, h3{
    font-weight: 700;
}
h4, h5{
    font-weight: 600;
}

a {
    cursor: pointer;
}

.content-container {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    top: 0;
}

.menu-container{
    margin-bottom: 3vh;
    margin-left: 5vw;
    padding: 40px;
}

#logo {
    width: 80px;
}
#title{
    margin: 0 30px 0 20px;
    font-weight: 700;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.center-align{
    vertical-align: middle;
}

.secondary-text{
    color: #DCD0D0;
}


.dropdown-item{
    background-color: #333645;
    padding-left: 10px;
    color: #EBEBEB;
}
.dropdown-toggle{cursor: pointer;}
#username{color:#FAEEEE}
.dropdown-menu{
    background-color: #333645;
    color: #EBEBEB;
}
.dropdown-hr{margin: 0px;}

.menu-item{margin-left: 1.5vw;}
.menu-item h3, .nav-item h4{margin: 0;}
.nav-link{padding: 0;}

#chat-box{
    padding: 10px;
    height: 35vh;
    background-color: #424556;
    margin-bottom: 20px;
}
@media screen and (min-width: 768px){
    #chat-box{
        height: 75vh;
    }
}

#profile-box{
    padding: 10px;
    weight:100% !important;
    height: 100%;
    background-color: #424556;
    margin-bottom: 20px;
}
#p-container{
        padding: 0;
    }
.profile-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.profile-img{
    width: 350px;
    height: 350px;
    margin: 40px;
    margin-bottom: 30px;
    object-fit: cover;
}

.profile-star{
    color: #d4c074;
    font-size: x-large;
}

.profile-gold{
    color: #d4c074;
    margin-right: 5px;
}

#profile-like{
    color: green;
    margin-left: 30px;
    font-size: x-large;
}

#profile-dislike{
    color: #c30505;
    margin-left: 30px;
    font-size: x-large;
}

#profile-username{
    margin-top: 40px;
    margin-bottom: 10px;
    display: inline-block;
    border-bottom: solid #d4c074 3px;
}

#profile-aboutme{
    margin-top: 30px;
    display: inline-block;
    border-bottom: solid #d4c074 3px;
}

#btn-changepass{
    margin-left: 120px;
    margin-bottom: 40px;
    margin-top:145%;
}

#btn-exit{
    margin-left: 20px;
    margin-bottom: 40px;
    margin-right: 40px;
    margin-top:145%;
}

.star{
    padding: 0;
    padding-left: 5%;
}

.like{
    padding: 0;
    left: -5%;
}

.btn {
  border: 2px solid #d4c074;
  background-color: transparent;
  padding: 7px 14px;
  font-size: 16px;
  cursor: pointer;
}

.btn-gold {
  border-color: #d4c074;
  color: #d4c074;
}

.btn-gold:hover {
  background-color: #d4c074;
  color: black;
}

.btn-white {
  border-color: white;
  color: white;
}

.btn-white:hover {
  background-color: white;
  color: black;
}

#send-chat-message{
    background: #424556;
    margin-left: 20px;
    font-family: 'Exo 2', sans-serif;
}
@media screen and (max-width: 1500px){
    #btn-changepass{
        margin-left: 75%;
        margin-bottom: 40px;
        margin-top:10%;
    }
    #btn-exit{
        margin-left: 3%;
        margin-bottom: 40px;
        margin-right: 40px;
        margin-top:10%;
    }
    .profile-img{
        width: 400px;
        height: 400px;
        display:block;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .p-col-6{
      margin-right:5%;
      margin-left: 1%;
    }
    .like{
        left: -5%;
    }
    .star{
        text-align: center;
        padding: 0;

    }
}
@media screen and (max-width: 1100px){
    .p-col-6{
      margin-left: 5%;
    }
    #col-6-aboutme{
        flex: none;
        max-width: 100%;
        padding-right: 10%;
    }
    #btn-changepass{
        margin-left: 5%;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    #btn-exit{
        margin-left: 5%;
        margin-bottom: 10%;
        margin-right: 40px;
        margin-top:10%;
    }
    .profile-img{
        width: 350px;
        height: 350px;
    }
    #p-aboutme{
      margin-right:30px;
    }
    .like{
        left: -5%;
    }
    .star{
        text-align: center;
        padding-left: 15%;
    }

}

@media screen and (max-width: 992px){
    #btn-changepass{
        margin-left: 45px;
        margin-bottom: 40px;
        margin-top:100%;
    }
    #btn-exit{
        margin-left: 20px;
        margin-bottom: 40px;
        margin-right: 40px;
        margin-top:100%;
    }
    .profile-img{
        width: 350px;
        height: 350px;
    }
    #p-aboutme{
      margin-right:5%;
    }
    .star{
        padding-left: 15%;
    }
    .like{
        left: -10%;
        padding:0;
    }
}
@media screen and (max-width: 768px){
    #btn-changepass{
        margin:30px;
    }
    #btn-exit{
         margin:30px;
    }
    .profile-img{
        width: 250px;
        height: 250px;
    }
    .profile-star{
        font-size: initial;
    }
    #profile-like{
        font-size: initial;
        margin-left: 10px;
    }
    #profile-dislike{
        font-size: initial;
        margin-left: 10px;
    }
    .star{
        padding: 0;
        padding-left: 15%;
    }
    .like{
        padding: 0;
        padding-left: 5%;
    }
}
@media screen and (max-width: 576px){
    p{
        font-size:14px;
        line-height: normal;
        display: inline;
    }
    .stars{
       display:block;
        margin: auto;
        text-align:center;
    }
    #btn-changepass{
        margin:10px;
        margin-top: 15%;

        font-size: 14px;
    }
    #btn-exit{
         margin:10px;
         margin-top: 15%;
         font-size: 14px;
    }
    .profile-img{
        width: 250px;
        height: 250px;
    }
    .profile-star{
        font-size: initial;
    }
    #profile-like{
        font-size: initial;
    }
    #profile-dislike{
        font-size: initial;
    }
    #profile-username{
        border-bottom: solid #d4c074 1px;
        font-size: 18px;
    }
    #profile-aboutme{
        border-bottom: solid #d4c074 1px;
        font-size: 18px;
    }
    .profile-gold{
        font-size: small;
    }
    .profile-card{
       display:block;
        margin: auto;
    }
    .star{
        padding: 0;
        padding-right: 10px;
    }
    .like{
        padding: 0;
        padding-left: 10px;
    }
}
@media screen and (max-width: 360px){
    .profile-img{
        width: 250px;
        height: 250px;
    }
    .star{
        text-align: left;
        left: -15px;
    }
}

#chat-message-input{
    background: #424556;
    border: 0px;
    border-radius: 2px;
    color: #faeeee;
    font-family: Helvetica;
    padding-left: 5px;
    height: 45px;
}

.stream-container{
    padding-bottom: 56.25%
}
.chat-container{
    position: relative;
    width: 25vw;
    height: 100%;
}
.chat-message *{
    margin: 0;
}
.chat-message b{
    color: #8DA5FB;
}
#stream-box{
    height: 35vh;
    margin-bottom: 1vh;
    z-index: 0;
    background-color: #C4C4C4;
    box-shadow: 0px 7px 11px -4px rgba(0,0,0,0.36);
}
@media screen and (min-width: 768px){
    #stream-box{
        height: 70vh;
    }
}
#stream-figure-overlay{
    padding: 0;
    border-top: 40px solid rgba(21, 29, 49, 0.5);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    width: 140px;
    height: 0;

    background-color: none;
    z-index: 20;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    text-align: center;
}
#stream-timer-overlay{
    font-weight: 700;
    background-color: none;
    z-index: 30;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    text-align: center;
}

#dislike-stream *, #like-stream *{
    font-size: 2em;
}

#dislike-stream, #like-stream{
    color: #FAEEEE;
    border: none;
    margin-left: 20px;
}
@media screen and (min-width: 768px){
    #dislike-stream, #like-stream{
        color: #FAEEEE;
        border: none;
    }
}

#stream-info-container{
    margin-left: 40px;
}

#dislike-stream:hover, #like-stream:hover{
    background: #424556;
}
.dislike-img{
    transform: rotate(-180deg);
    height: 50px;
}
.like-img{
    height: 50px;
}
@media screen and (min-width: 768px){
    .dislike-img, .like-img{
        height: 80px;
    }
}

a, a:hover {
    border: none;
    outline: 0;
    color: inherit;
    text-decoration: none;
}

.modal-content {
    background-color: #333645;
    color: #FAEEEE;
    width: 600px;
    height: 450px;
    user-select: None;
}
.modal-cont-reg{
    background-color: #333645;
    color: #FAEEEE;
    width: 600px;
    height: 550px;
}
.modal-header-back {
    padding: 0;
    border-top: 40px solid rgba(21, 29, 49, 0.5);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    width: 200px;
    height: 0;

    background-color: none;
    z-index: 20;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    text-align: center;
}
.modal-title{
    text-align: center;
    z-index: 21;
}

.login-icons{
    margin-top: 15px;
    margin-left: 10px;
    background-color: #2b2c36;
    width: 10px;
    border: None;
    color: #bebebe

}
.login-input{
    height: 50px;
    background-color: #2b2c36;
    border: None;
}
.login-input:focus{
    background-color: #2b2c36;
    color: white;
}
.login-warning-error{
    border-style: solid;
    border-width: 1px;
    border-color: red;
    border-margin-bottom: 5px;

}
.login-warning-text{
    color: red;
}
.lp{
    margin-left: 20px;
}
.custom-control-label{
    color: #bebebe;
}
input[type="checkbox"] + label:before {
    color: #2b2c36;
    background-color: #2b2c36;
    border: None;
    width: 1.25rem;
    height: 1.25rem;
}
input[type="checkbox"] + label:after{
    color: #bebebe;
    background-color: #2b2c36;
    border: None;
    width: 1.25rem;
    height: 1.25rem;
}

.btn-cust{
    background-color: #bebebe;
    color: #2b2c36;
    border: None;
    width: 55%;
    height: 65px;
}
.btn-cust:focus{
    background-color: #2b2c36;
    color: black;
}
.link{
    color: #86a3c3;
}

.modal-content-report{
    background-color: #333645;
    color: #FAEEEE;
    width: 500px;
    height: 500px;
}

.textarea-report{
    background-color: #2b2c36;
    border: None;
}
.textarea-report:focus{
    background-color: #2b2c36;
    border: None;
    color: white;
}

.modal-content-reset{
    height: 350px;
}

.modal-header-back-reset{
    width: 300px;
}

.tmp{
    font-size: 1.1em;
}
.dropdown-item:active{
    background-color: grey;
}
.dropdown-item:focus{
    background-color: grey;
}
#dropdownMenuLink{
    background-color: #2b2c36;
    border: None;
}