@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

html,
html>* {
    background-color: #333645;
    color: #FAEEEE;
    font-family: 'Exo 2', sans-serif;
}

header {
    background: #333645;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h4,
h5 {
    font-weight: 600;
}

a,
a:hover {
    cursor: pointer;
    border: none;
    outline: 0;
    color: inherit;
    text-decoration: none;
}

input[type="checkbox"]+label:before {
    color: #2b2c36;
    background-color: #2b2c36;
    border: None;
    width: 1.25rem;
    height: 1.25rem;
}

input[type="checkbox"]+label:after {
    color: #bebebe;
    background-color: #2b2c36;
    border: None;
    width: 1.25rem;
    height: 1.25rem;
}

/*---------Menu---------*/
.menu-container nav {
    background-color: #333645;
    border-bottom: 3px solid #333645;
}

.menu-container {
    background-color: #333645;
    margin-bottom: 1vh;
    margin-left: 6vw;
    padding: 40px;
    border-bottom: 3px solid #333645;
    display: inline-block;
}

#logo {
    width: 80px;
}

#title {
    margin: 0 30px 0 20px;
    font-weight: 700;
    font-size: 200%;

}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.center-align {
    vertical-align: middle;
}

.secondary-text {
    color: #DCD0D0;
}

.btn_start {
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #28a745;
    border: 3px solid 2a9e45e8;
    font-size: 20px;
    font-weight: bolder;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.btn_start:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}

.btn_start:hover {
    background-color: #28a745;
    color: #fff;
    border-bottom: 4px solid darken(#28a745, 10%);
}

.btn_start:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
}

.dropdown-item {
    background-color: #333645;
    padding-left: 10px;
    color: #EBEBEB;
}

.dropdown-toggle {
    cursor: pointer;
}

#username {
    color: #FAEEEE
}

.dropdown-menu {
    background-color: #333645;
    color: #EBEBEB;
}

.dropdown-hr {
    margin: 0px;
    height: 6px;
}

.menu-item {
    margin-left: 1.5vw;
}

.menu-item h3,
.nav-item h4 {
    margin: 0;
}

.nav-link {
    padding: 0;
}

.dropdown-item:active {
    background-color: grey;
}

.dropdown-item:focus {
    background-color: grey;
}

#dropdownMenuLink {
    width: 50%;
    background-color: #2b2c36;
    border: None;
}

/*----------------------*/

/*------Stream_Page------*/
/*Stream*/
.top-padding{
    margin-top: 2vh
}
.stream-container {
    position: relative;
    width: 60vw;
    padding-bottom: 56.25%
}

#stream-box {
    position: relative;
    z-index: 0;
    width: 100%;
    /*height: 600px;*/
    background-color: #C4C4C4;
    box-shadow: 0px 7px 11px -4px rgba(0, 0, 0, 0.36);
}

#stream-figure-overlay {
    padding: 0;
    border-top: 40px solid rgba(21, 29, 49, 0.5);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    width: 140px;
    height: 0;
    background-color: none;
    z-index: 20;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    text-align: center;
}

.stream-btn {
    margin-right: 10px;
    border-radius: 0;
}

.stream-buttons {
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-between;
}

.w-50 {
    width: 30vh !important;
}
.stream-viewers-resize{
        padding: 1em 0em 0em;
        padding-right: 2.5em;
}
.stream-title-resize{
    padding-top: 1em;
}
#stream-timer-overlay {
    font-weight: 700;
    background-color: none;
    z-index: 30;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    text-align: center;
}

#dislike-stream,
#like-stream {
    color: #FAEEEE;
    border: none;
    padding: 0;
    margin-left: 20px;
    margin-top: 10px;
}

#dislike-stream:hover,
#like-stream:hover {
    background: #424556;
}

.dislike-img {
    /*margin-right: 20px;
    margin-bottom: 25px;*/
    transform: rotate(-180deg);
    height: 80px;
    margin: 10px 10px 0px;
}

.like-img {
    /*margin-right: 20px;
    top: -25px;*/
    height: 80px;
    margin: 10px 10px 0px;
    /*margin-bottom: 20px;*/
}

#dislike-stream *,
#like-stream * {
    font-size: 2em;
}

#stream-info-container {
    margin-left: 40px;
}
/*Queue*/
.queue-slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: 1280px;
}

.queue-slider__arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-size: 10px;
}

.queue-slider__ul{
    display: flex;
    list-style: none;
    overflow: hidden;
    padding: 1em 0;
    margin: 0 1em;
    width: 90%;
}

.queue-slider__ul__li{
    text-align: center;
    background-color: #333645;
    margin: 1em;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.queue-slider__ul__li__img{
    border-radius: 50%;
    width: 130px;
    height: 130px;
}
/*------*/
/*------*/
/*Chat*/
.chat-list-emote-container{
    width:50px;
    height: 80px;
}
}
.chat-emote{
    vertical-align: middle;
    width: 32px;
    height: 32px;
    font-style: italic;
}
#chat-box {
    padding: 10px;
    height: 35vh;
    background-color: #424556;
    margin-bottom: 20px;
    overflow-y: scroll;
}

#chat-box::-webkit-scrollbar {
    width: 8px;
}

#chat-box::-webkit-scrollbar-track {
    background: #585b6c;
    border-radius: 5px;
}

#chat-box::-webkit-scrollbar-thumb {
    background: #83848e;
    border-radius: 5px;
}

#send-chat-message {
    background: #424556;
    margin-left: 20px;
    font-family: 'Exo 2', sans-serif;
}

.chat-container {
    position: relative;
    width: 25vw;
    height: 100%;
}

.chat-message * {
    font-family: Helvetica;
    margin: 0;
    font-size: 1.05em;
}

.chat-message b {
    color: #8DA5FB;
}

#chat-message-input {
    background: #424556;
    border: 0px;
    border-radius: 2px;
    color: #faeeee;
    font-family: Helvetica;
    padding-left: 5px;
    height: 45px;
}
/*----*/
/*-----------------------*/
/*--------Madals--------*/
.modal-content {
    background-color: #333645;
    color: #FAEEEE;
    width: 600px;
    height: 450px;
    user-select: None;
}

.modal-cont-prof {
    width: 100%;
    height: 400px;
}

.modal-cont-set {
    height: 350px;
}

.modal-header-back {
    padding: 0;
    border-top: 40px solid rgba(21, 29, 49, 0.5);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    width: 200px;
    height: 0;
    background-color: none;
    z-index: 20;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    text-align: center;
}

.modal-title {
    text-align: center;
    z-index: 21;
}

/*Login*/
.login-icons {
    margin-top: 15px;
    margin-left: 10px;
    background-color: #2b2c36;
    width: 10px;
    border: None;
    color: #bebebe
}

.login-input {
    height: 50px;
    background-color: #2b2c36;
    width: 95%;
    border: None;
}

.login-input:focus {
    background-color: #2b2c36;
    color: white;
}

.login-input::placeholder {
    font-family: 'Exo 2', sans-serif;
}

.login-warning-error {
    border-style: solid;
    border-width: 1px;
    border-color: red;
    border-margin-bottom: 5px;
}

.login-warning-text {
    color: red;
}

.lp {
    margin-left: 20px;
}

/*-----*/

/*Register*/
.modal-cont-reg {
    background-color: #333645;
    color: #FAEEEE;
    width: 600px;
    height: 550px;
}

/*--------*/

/*Report*/
.modal-content-report {
    background-color: #333645;
    color: #FAEEEE;
    width: 500px;
    height: 550px;
}

.textarea-report {
    background-color: #2b2c36;
    border: None;
    resize: None;
}

.textarea-report:focus {
    background-color: #2b2c36;
    border: None;
    color: white;
}
.textarea-start{
    background-color: #2b2c36;
    width: 95%;
    resize: None;
    border: None;
}
.textarea-start:focus{
    background-color: #2b2c36;
    border: None;
    color: white;
}
/*------*/
.modal-content-reset {
    height: 350px;
}

.modal-header-back-reset {
    width: 300px;
}

.tmp {
    font-size: 1.1em;
}

/*----------------------*/
.content-container {
    width: 90%;
    margin: auto;
    top: 0;
    padding-top: 0px;
}

.custom-control-label {
    color: #bebebe;
}

.btn-cust {
    background-color: #bebebe;
    color: #2b2c36;
    border: None;
    width: 55%;
    height: 65px;
}

.btn-cust:focus {
    background-color: #2b2c36;
    color: black;
}
.btn-start-cust{
    background-color: #bebebe;
    color: #2b2c36;
    border: None;
    width: 150px;
    height: 65px;
}
.btn-start-cust:focus {
    background-color: #2b2c36;
    color: black;
}

.link {
    color: #86a3c3;
}

.btn-sett {
    width: 70%;
}

.profile-pic {
    width: 120px;
    height: 120px;
}

.profile-data {
    margin-left: 160px;
}

.fa-pen {
    color: #dfc97d;
    font-size: 0.5em;
    opacity: 0.5;
}

.fa-map-marker-alt {
    color: #dfc97d;
}

.profile-location {
    color: white;
    display: inline-block;
    font-size: 0.75em;
    opacity: 0.5;
}

.profile-bio {
    font-size: 1.25em;
}

.white_input {
    background: white;
    border-radius: 3px;
    color: black;
}

.stream-info {
    padding-top: 0;
}

.oval {
    background: white;
    color: black;
    text-align: center;
    margin: 1vh 0.5vw 1vh 0.5vw;
    width: 8vw;
    height: 100px;
    -webkit-border-radius: 100px / 50px;
}




/*---Profile Settings---*/

.settings-textarea {
    overflow: auto;
    width: 100%;
    height: 50px;
    background: #333645;
    border: none;
    padding: 8px 0 8px 10px;
    margin-top: 10px;
    color: #6c757d;
}

.settings-text {
    padding: 0;
}

.settings-networks {
    margin-top: 50px;
    margin-left: 50px;
    border-left: 3px solid #333645;
    padding-left: 30px;
}

.save-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.aboutme-settings {
    display: inline-block;
    border-bottom: solid #d4c074 3px;
}

.btn_save {
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #ffffff00;
    border: 3px solid #d4c074;
    font-size: 20px;
    font-weight: bolder;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.btn_save:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}

.btn_save:hover {
    background-color: #d4c074;
    color: #fff;
    border-bottom: 4px solid darken(#28a745, 10%);
}

.btn_save:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
}

.settings-input {
    width: 100%;
    font-size: 16px;
    padding: 6px 0 4px 10px;
    background: #333645;
    border-radius: 0;
    border: none;
}

.input-group-text {
    width: 45px;
    background-color: #424556;
    border: none;
}

/*----------------------*/

/*-------Profile--------*/
.nowrap {
    white-space: nowrap;
}

.center {
    display: flex;
    justify-content: center;

}

.profile-container {
    display: flex;
    position: relative;
    width: 1200px;
    height: 100%;
    padding: 10px;
    background-color: #424556;
    margin-bottom: 20px;
    top: 50px;
    border-bottom: 10px solid #d4c074;
}

.card-exit {
    width: 1200px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    transform: translate(0, 40%);
}

.card-exit__pencil {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.card-exit__times {
    height: 30px;
    width: 30px;
}

.card-exit__fa-pencil {
    font-size: xx-large !important;
    color: #d4c074;
}

.card-exit__fa-times {
    font-size: xx-large !important;
    color: #d4c074;
}

.avatar {
    width: 450px;
    height: 650px;
    position: relative;
    transform: translate(-30%, -10%);
}

.avatar-exit {
    width: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    justify-content: flex-end;
    display: none;
    z-index: 1;
}

.avatar-exit__pencil {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.avatar-exit__times {
    height: 30px;
    width: 30px;

}

.avatar-exit__fa-pencil {
    font-size: xx-large !important;
    color: #ffffff;
}

.avatar-exit__fa-times {
    font-size: xx-large !important;
    color: #ffffff;
}

.avatar__img {
    width: 450px;
    height: 650px;
    object-fit: cover;
}

.avatar__upload {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.avatar_camera {
    font-size: xx-large !important;
    z-index: 1;
}

.avatar__icons {
    display: flex;
    justify-content: space-between;
    height: 30px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.avatar__stars {
    width: 300px;
}

.avatar__likes {
    width: 50%;
    text-align: end;
}

.avatar__dislikes {
    width: 50%;
    text-align: center;
}

.avatar__star {
    color: #d4c074;
    font-size: xx-large !important;
    margin-right: 0px !important;
}

.avatar__like {
    color: green;
    font-size: xx-large !important;
}

.avatar__dislike {
    color: red;
    font-size: xx-large !important;
}

.info {
    position: relative;
    transform: translate(-15%);
}

.info__sm {
    text-align: left;
}

.info__networks {
    margin-top: 50px;
    margin-left: 50px;
    border-left: 3px solid #333645;
    padding-left: 30px;
}

.info__network {
    color: #ffffff;
    font-size: larger !important;
    margin-right: 10px;
}

.info__gold-color {
    font-size: larger !important;
    color: #d4c074;
    margin-right: 5px;
}

.info__username {
    margin-top: 40px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 50px;
    color: #d4c074;
}

.info__container {
    padding: 0;
}

.info__card-aboutme {
    margin-top: 15%;
    padding-bottom: 50px;
    border-bottom: none;
}

.info__text {
    padding: 0;
}

.info__aboutme {
    margin-top: 30px;
    display: inline-block;
    border-bottom: solid #d4c074 3px;
}

.tab {
    margin-bottom: 30px;
    margin-top: 10px
}

.tab__text {
    text-align: center;
}

.tab__btn {
    text-align: center;
}

.tab__last-stream {
    color: white;
    font-size: 18px;
    border-bottom: 2px solid #d4c074;
    margin-left: 80px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.tab__a {
    margin-right: 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.tab__a-border,
.tab__a:hover {
    border-bottom: 2px solid #d4c074;
}

.slider {
    display: flex;
    justify-content: flex-end;
}

.slider__size {
    width: 500px;
    height: 400px;
    margin: 0;
}

.carousel-caption {
    text-shadow: 3px 2px black;
}

.slider__photo {
    width: 470px;
    height: 294px;
    object-fit: cover;
    filter: brightness(50%)
}

.chart {
    display: flex;
    justify-content: center;
}

.chart__js {
    -webkit-animation: chartjs-render-animation 0.001s;
    animation: chartjs-render-animation 0.001s;
}

.chart__size {
    width: 400px;
    height: 300px;
}

.progress {
    background-color: #333645;
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1.25rem;
    font-size: 1rem;
}

.progress__size {
    width: 400px;
    height: 300px;
}

.progress__share-bg {
    background-color: #d4c074 !important;
}

.progress__like {
    color: green;
    font-size: x-large;
}

.progress__dislike {
    color: red;
    font-size: x-large;
}

.progress__share {
    color: #d4c074;
    font-size: x-large;
}

.progress__views {
    text-align: end;
    color: #d4c074;
}

.mobile {
    display: none;
    text-align: center;
}

@media screen and (max-width: 1500px) {
    .profile-container {
        width: 900px;
    }

    .avatar {
        width: 400px;
        height: 600px;
    }

    .avatar__img {
        width: 400px;
        height: 600px;
    }

    .info__card-aboutme {
        padding-right: 0px;
        padding-bottom: 20px;
        margin-top: 10%;
    }

    .card-exit {
        width: 900px;
    }

    .chart {
        justify-content: end;
    }

    .tab__last-stream {
        margin-left: 0px;
    }

    .info__networks {
        margin-left: 0px;
        padding-left: 0px;
        border: none;
    }

    .info__username {
        margin-right: 70px;
    }

    .input-group {
        width: 135%;
    }

    .settings-networks {
        margin-left: 0;
        padding-left: 0;
    }
    .btn_start{
        padding: 6px 12px;
    }
    #username {
        padding-top: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .profile-container {
        width: 850px;
        transform: translate(5%);

    }
    #logo {
        width: 70px;
    }
    #title {
        margin: 0 0 0 20px;
        font-size: 190%;
    }
    #username {
        padding-top: 8px;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: .5rem;
    }
    .content-container {
        padding-top: 40px;
    }

    .avatar {
        width: 400px;
        height: 600px;
        transform: translate(-25%, -10%);
    }

    .avatar__img {
        width: 400px;
        height: 600px;
    }

    .info {
        transform: translate(-10%);
    }

    .info__card-aboutme {
        padding-right: 0px;
        padding-bottom: 20px;
        margin-top: 10%;
    }

    .card-exit {
        width: 850px;
        transform: translate(5%);
    }

    .chart {
        justify-content: end;
    }

    .tab__last-stream {
        margin-left: 0px;
    }

    .info__networks {
        margin-left: 0px;
        padding-left: 0px;
        border: none;
    }

    .info__username {
        font-size: 48px;
        margin-right: 55px;
    }
    .dislike-img {
        height: 70px;
    }

    .like-img {
        height: 70px;
    }

    #dislike-stream *,
    #like-stream * {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 800px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0;
    }
    .resize{
        max-width: 100%;
        flex: auto;
    }
    .top-padding{
        margin-top: 0;
    }
    #logo {
        width: 60px;
    }
    #chat-box {
        margin-top: 1rem;
    }
    #title {
        margin: 0 0 0 10px;
        font-size: 150%;
    }
    h4{
        font-size: 1.2rem;
    }
    h3{
        font-size: 1.3rem;
    }
    .login-768{
        margin-right: 20px;
        padding-left: 1rem;
    }
    .avatar {
        width: 100%;
        height: 518px;
        overflow: hidden;
        position: relative;
        transform: translate(0px, 0px);
    }

    .avatar__img {
        display: block;
        min-width: 100%;
        min-height: 100%;
        margin: auto;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        position: absolute;
    }

    .profile-container {
        width: 70%;
        display: block;
        transform: translate(0%);
        top: 90px;
    }

    .card-exit {
        display: none;
    }

    .info {
        position: relative;
        transform: translate(0%);
    }

    .info__sm {
        text-align: center;
    }

    .info__networks {
        text-align: left;
        margin-top: 30px;
        margin-left: 0px;
        border: none;
        padding: 30px;

    }

    .info__username {
        margin-top: 20px;
        margin-left: 70px;
        margin-right: 70px;
    }
    .menu-item {
        margin-left: 0;
    }
    .info__card-aboutme {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 20px;
        margin-top: 3%;
        margin-bottom: 5%;
    }

    .content-container {
        width: 100%;
        margin: 0;
        margin-top: -35px;
        padding-top: 0;
    }

    .avatar__upload {
        left: 20px;
    }

    .avatar-exit {
        display: flex;
    }

    .menu-container {
        margin: 0;
    }

    .tab__text {
        display: none;
    }

    .mobile {
        display: block;
        margin-bottom: 15px;
    }

    .chart {
        width: 450px !important;
        height: 400px !important;
        margin-bottom: 30px;
        justify-content: center;
    }

    .chart__size {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 450px !important;
        height: 400px !important;
    }

    .tab {
        display: none;
    }

    .progress__size {
        margin-top: 30px;
        width: 450px !important;
        height: 400px !important;
    }

    .slider__size {
        height: 350px;
        width: 500px;
    }

    .slider-row {
        justify-content: center;
    }

    body {
        display: unset;
    }

    .slider {
        width: 470px;
        display: flex;
        justify-content: center;
    }

    .slider__photo {
        width: 470px !important;
    }

    .settings-input {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .settings-text {
        text-align: center;
    }

    .settings-networks {
        padding-left: 30px;
        border: none;
    }

    .settings-textarea {
        width: 80%;
    }
    .settings-nets-col{
        flex-basis: auto;
    }

    .input-group {
        width: 95%;
    }

    .input-group-text {
        border-right: 3px solid #424556;
        background-color: #333645;
    }

    .settings-aboutme-mobile {
        text-align: center;
    }

    .save-btn {
        margin-top: 20px;
    }
    /*.col-sm{
        flex-basis: auto;
    }*/
    .btn_start{
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .col-md-12, .col-md-6{
        padding-right: 0;
    }
    .top-padding {
        margin-top: 10vh;
    }
    .resize{
        padding-right: 0;
    }
    .stream-title-resize{
        padding-top: 0;
        text-align: center;
    }
    .stream-viewers-resize{
        padding-left: 2.5em;
    }
    .secondary-text {
        text-align: center;
    }
    .progress{
        justify-content: center;
    }
    .dis-like-center{
        justify-content: center;
    }
    .avatar {
        height: 518px;
    }

    .profile-container {
        width: 100%;
        display: block;
        padding: 0px;
        transform: translate(0%, 0%);
    }

    .card-exit {
        display: none;
    }

    .info {
        position: relative;
        transform: translate(0%);
    }

    .info__sm {
        text-align: center;
        padding-right: 0;
    }

    .slider{
        padding-right: 0;
    }

    .info__networks {
        text-align: left;
        margin-top: 20px;
        margin-left: 25px;
        border: none;
        padding: 0px;
    }

    .info__username {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .info__card-aboutme {
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 20px;
        margin-top: 5%;
    }

    .content-container {
        width: 100%;
        margin: 0;
        margin-top: -115px;
    }

    .avatar__upload {
        left: 20px;
    }

    .avatar-exit {
        display: flex;
    }

    .menu-container {
        margin: 0;
    }

    .tab__text {
        display: none;
    }

    .mobile {
        display: block;
        margin-bottom: 15px;
    }

    .container {
        width: auto;
    }

    .chart {
        width: 350px !important;
        height: 300px !important;
        margin-bottom: 30px;
        transform: translate(0%);
        justify-content: center;
        padding-right: 0;
    }

    .chart__size {
        margin-top: 10px;
        width: 350px !important;
        height: 300px !important;
    }

    .tab {
        display: none;
    }

    .progress__size {
        width: 350px !important;
        height: 300px !important;
    }

    .slider__size {
        height: 320px;
    }

    .slider__photo {
        width: 100% !important;
    }

    body {
        display: unset;
    }

    .row {
        margin-right: -0px;
    }

    .mobile {
        display: block;
        margin-bottom: 15px;
    }

    .container {
        width: auto;
    }

    .chart {
        width: 350px !important;
        height: 300px !important;
        margin-bottom: 30px;
        transform: translate(0%);
        justify-content: center;
    }

    .chart__size {
        margin-top: 10px;
        width: 350px !important;
        height: 300px !important;
    }

    .tab {
        display: none;
    }

    .progress__size {
        width: 350px !important;
        height: 300px !important;
    }

    .slider__size {
        height: 320px;
    }

    .slider__photo {
        width: 100% !important;
    }

    body {
        display: unset;
    }

    .row {
        margin-right: -0px;
    }
}

@media screen and (max-width: 375px) {
    .avatar {
        height: 375px;
    }

    .chart {
        width: 100% !important;
    }

    .chart__size {
        width: 290px !important;
        height: 200px !important;
    }

    .slider {
        width: 100%;
    }

    .avatar__star {
        font-size: x-large !important;
    }

    .avatar__like {
        font-size: x-large !important;
    }

    .avatar__dislike {
        font-size: x-large !important;
    }
    #title{
        font-size: 150%;
        margin-left: 10px;
    }
    #logo{
        width: 50px;
    }
}
@media screen and (max-width: 320px){
    .navbar-toggler{
        padding: 0 6px 3px 6px;
    }
    .navbar-toggler-icon{
        width: 1em;
        height: 1em;
    }
}
@media screen and (min-width: 768px) {
    .menu-container nav {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        margin: auto;
        padding-top: 20px;
        background-color: #333645;
        padding-bottom: 10px;
        border-bottom: 3px solid #333645;
    }
}
@media screen and (max-width: 768px){

    .modal-content {
        width: 100%;
    }

}

@media screen and (min-width: 768px) {
    #chat-box {
        height: 80vh;
    }
}


@media screen and (min-width: 768px) {
    #stream-box {
        /*height: 70vh;*/
        width: auto;
    }
}

@media screen and (min-width: 768px) {

    #dislike-stream,
    #like-stream {
        color: #FAEEEE;
        border: none;
    }
}

/*----photo selection----*/
.file_name{
 margin: 0;
 color: grey;
}
.example-1 .form-group {
 padding: 1em;
 margin: 0em 1em 0em 1em;
}

.photo-modal-footer{
 display: flex;
 justify-content: space-evenly;
}

.modal-content {
    background-color: #333645;
    color: #FAEEEE;
    width: 600px;
    height: 450px;
    user-select: None;
}
.modal-cont-reg{
    background-color: #333645;
    color: #FAEEEE;
    width: 600px;
    height: 500px;
}
.modal-cont-prof{
    width: 100%;
    height: 400px;
}
.modal-cont-set{
    height: 350px;
}
.modal-cont-start{
    height: 420px;
}
.modal-header-back {
    padding: 0;
    border-top: 40px solid rgba(21, 29, 49, 0.5);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    width: 200px;
    height: 0;
    
.photo-modal-footer__text{
 color: grey;
 padding: 0;

}

.photo-modal-footer__btn{
 border-radius: 0px;
}

.example-1 input[type=file] {
 outline: 0;
 opacity: 0;
 pointer-events: none;
 user-select: none
}

.example-1 .label {
 border: 2px dashed grey;
 border-radius: 5px;
 display: block;
 padding: 1.2em;
 transition: border 300ms ease;
 cursor: pointer;
 text-align: center
}

.example-1 .label i {
 display: block;
 font-size: 42px;
 padding-bottom: 16px
}

.example-1 .label i,
.example-1 .label .title {
 color: grey;
 transition: 200ms color
}
.example-1 .label:hover {
 border: 2px solid #28a745
}

.example-1 .label:hover i,
.example-1 .label:hover .title {
 color: #28a745
}
/*-----------------------*/
@media screen and (max-width: 768px){
 .col-sm-6 {
 flex: auto;
 max-width: 100%;
 }

 .photo-modal-footer__text{
 white-space: inherit;
 margin: 0;
 }
 }


.settings-nets-col{
 flex-basis: auto;
}
.stream-info{
    padding-top: 0;
}

.oval{
    background: white;
    color: black;
    text-align: center;
    margin: 1vh auto 1vh auto;
    height: 10vh;
    -webkit-border-radius: 100px / 50px;
}

.oval-p{
    font-size: x-large;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
