@font-face {
    font-family: 'Norwester Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Norwester Regular'), url('norwester.otf') format('opentype');
}

html, html > * {
    background-color: #333645;
    color: #FAEEEE;
    font-family: Norwester Regular;
}

.content-container {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    top: 0;
}

.menu-container{
    margin-bottom: 20px;
    margin-left: 5vw;
    padding: 10px;
}

#logo {
    width: 100px;
}
#title{
    margin-left: 20px;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.center-align{
    vertical-align: middle;
}

.secondary-text{
    color: #DCD0D0;
}

#chat-box{
    padding: 10px;
    height: 75vh;
    background-color: #424556;
    margin-bottom: 20px;
}

#send-chat-message{
    background: #424556;
    margin-left: 20px;
}

.stream-container{
    position: relative;
    width:60vw;
    margin-right: 3vw;
}
.chat-container{
    position: relative;
    width: 25vw;
    height: 100%;
}
.chat-message *{
    font-family: Helvetica;
    margin: 0;
    font-size: 1.05em;
}
.chat-message b{
    color: #8DA5FB;
}
#stream-box{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 600px;
    background-color: #C4C4C4;
    margin-bottom: 40px;
    box-shadow: 0px 7px 11px -4px rgba(0,0,0,0.36);
}
#stream-figure-overlay{
    padding: 0;
    border-top: 40px solid rgba(21, 29, 49, 0.5);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    width: 140px;
    height: 0;

    background-color: none;
    z-index: 20;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    text-align: center;
}
#stream-timer-overlay{
    background-color: none;
    z-index: 30;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    text-align: center;
}

#dislike-stream, #like-stream{
    color: #FAEEEE;
    border: none;
}
#dislike-stream:hover, #like-stream:hover{
    background: #424556;
}
.dislike-img{
    margin-right: 20px;
    margin-top: 25px;
    transform: rotate(-180deg);
    height: 80px;
}
.like-img{
    margin-right: 20px;
    top: -25px;
    height: 80px;
}



/*Profile*/
.nowrap {
    white-space: nowrap;
}

.center {
    display: flex;
    justify-content: center;
}

.profile-container {
    display: flex;
    position: relative;
    width: 1200px;
    height: 100%;
    padding: 10px;
    background-color: #424556;
    margin-bottom: 20px;
    top: 50px;
    border-bottom: 10px solid #d4c074;
}

.card-exit {
    width: 1200px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    transform: translate(0, 40%);
}

.card-exit__pencil {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.card-exit__times {
    height: 30px;
    width: 30px;
}

.card-exit__fa-pencil {
    font-size: xx-large !important;
    color: #d4c074;
}

.card-exit__fa-times {
    font-size: xx-large !important;
    color: #d4c074;
}

.avatar {
    width: 450px;
    height: 650px;
    position: relative;
    transform: translate(-40%, -10%);
}

.avatar__img {
    width: 450px;
    height: 650px;
    object-fit: cover;
}

.avatar__upload {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.avatar_camera {
    font-size: x-large !important;
}

.avatar__icons {
    display: flex;
    justify-content: space-between;
    height: 30px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.avatar__stars {
    width: 300px;
}

.avatar__likes {
    width: 50%;
    text-align: end;
}

.avatar__dislikes {
    width: 50%;
    text-align: center;
}

.avatar__star {
    color: #d4c074;
    font-size: x-large !important;
    margin-right: 0px !important;
}

.avatar__like {
    color: green;
    font-size: x-large !important;
}

.avatar__dislike {
    color: red;
    font-size: x-large !important;
}

.info {
    position: relative;
    transform: translate(-10%);
}

.info__networks {
    margin-top: 50px;
    margin-left: 50px;
    border-left: 3px solid #333645;
    padding-left: 30px;
}

.info__network {
    font-size: larger !important;
    margin-right: 10px;
}

.info__gold-color {
    font-size: larger !important;
    color: #d4c074;
    margin-right: 5px;
}

.info__username {
    margin-top: 40px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 50px;
    color: #d4c074;
}
.info__container{
    padding: 0;
}
.info__card-aboutme {
    margin-top: 15%;
    padding-bottom: 50px;
    border-bottom: 3px solid #333645;
}
.info__text{
    padding: 0;
}
.info__aboutme {
    margin-top: 30px;
    display: inline-block;
    border-bottom: solid #d4c074 3px;
}

.tab {
    margin-bottom: 30px;
    margin-top: 10px
}

.tab__text {
    text-align: center;
}

.tab__btn {
    text-align: center;
}

.tab__last-stream {
    color: white;
    font-size: 18px;
    border-bottom: 2px solid #d4c074;
    margin-left: 80px;
}

.hide{
    display: none;
}
.show{
    display: block;
}
.tab__a,
.tab__a:hover {
    margin-right: 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.tab__a-border {
    border-bottom: 2px solid #d4c074;
}

.slider {
    display: flex;
    justify-content: flex-end;
}

.slider__size {
    width: 500px;
    height: 400px;
    margin: 0;
}

.carousel-caption {
    text-shadow: 3px 2px black;
}

.slider__photo {
    width: 470px;
    height: 294px;
    object-fit: cover;
    filter: brightness(50%)
}

.chart {
    display: flex;
    justify-content: center;
}

.chart__js {
    -webkit-animation: chartjs-render-animation 0.001s;
    animation: chartjs-render-animation 0.001s;
}

.chart__size {
    width: 400px;
    height: 300px;
}

.progress {
    background-color: #333645;
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1.25rem;
    font-size: 1rem;
}
.progress__size {
    width: 400px;
    height: 300px;
}
.progress__share-bg {
    background-color: #d4c074 !important;
}

.progress__like {
    color: green;
    font-size: x-large;
}

.progress__dislike {
    color: red;
    font-size: x-large;
}

.progress__share {
    color: #d4c074;
    font-size: x-large;
}

.progress__views {
    text-align: end;
    color: #d4c074;
}