{% extends 'bases/base.html' %}
{% load static %}

{% block content %}
    <h1>О проекте</h1><br>
    <div>
        <b>Минута славы</b> - это стриминговый сервис с простой идеей: все зрители смотрят одну трансляцию, а стримеры
        встают в очередь. Каждому стримеру даётся одна минута, если его трансляция набирает больше лайков,
        чем дизлайков, он продолжает стрим, иначе следующий в очереди стример выходит в эфир.
    </div><br>
    <h1>Разработчики</h1><br>
    <div class="d-flex flex-wrap justify-content-center dev-info-container">

        <div class="card dev-info-card dev-info-key">
          <div class="card-body">
            <h5 class="card-title">Ярослав Гончаров</h5>
            <h6 class="card-subtitle mb-2 text-muted">a.k.a. MapLegend a.k.a. AbsoluteLegend</h6>
            <h6 class="card-subtitle mb-2"><b>- Main Developer, Back End lead -</b></h6>
            <p class="card-text">Докер, система CI/CD, развёртывание на сервере, доведение до рабочего состояния трансляций,
                реализация очереди, разбивка на микросервисы, капча, юнит-тесты.
            </p>
          </div>
        </div>

        <div class="card dev-info-card dev-info-key">
          <div class="card-body">
            <h5 class="card-title">Горшенев Леонид</h5>
            <h6 class="card-subtitle mb-2 text-muted">a.k.a. Leodroid</h6>
            <h6 class="card-subtitle mb-2"><b>- Team Lead -</b></h6>
            <p class="card-text">Конфигурация Django, фиксы страниц сайта и меню, создание страницы About.
                Фиксы кода клиентской части и работа с бд. Бекенд для модалов. Менеджмент git, решение конфликтов.
            </p>
          </div>
        </div>

        <div class="card dev-info-card dev-info-back">
          <div class="card-body">
            <h5 class="card-title">Васильев Андрей</h5>
            <h6 class="card-subtitle mb-2 text-muted">a.k.a. Herr der Qual</h6>
            <h6 class="card-subtitle mb-2"><b>- Back End developer -</b></h6>
            <p class="card-text">Cистемы логина и регистрации, настройка уведомлений,
                система трансляции и просмотра стрима, полная реализация чата.
            </p>
          </div>
        </div>

        <div class="card dev-info-card dev-info-back">
          <div class="card-body">
            <h5 class="card-title">Шутов Никита</h5>
            <h6 class="card-subtitle mb-2 text-muted">a.k.a. Wigiglenekit</h6>
            <h6 class="card-subtitle mb-2"><b>- Back End developer -</b></h6>
            <p class="card-text"> Установка названия стрима и описания на страницу, реализация таймера,
                генерация очереди на странице, документация, улучшение кода для повышения безопасности.
            </p>
          </div>
        </div>

        <div class="card dev-info-card dev-info-back">
          <div class="card-body">
            <h5 class="card-title">Степанов Николай</h5>
            <h6 class="card-subtitle mb-2 text-muted">a.k.a. KodKio</h6>
            <h6 class="card-subtitle mb-2"><b>- Back End developer -</b></h6>
            <p class="card-text">Прототип чата, работа с регистрацией, работа с БД, чартами в профиле и топом.
            </p>
          </div>
        </div>

        <div class="card dev-info-card dev-info-back">
          <div class="card-body">
            <h5 class="card-title">Кравцов Андрей</h5>
            <h6 class="card-subtitle mb-2 text-muted">a.k.a. KRAVTANDR</h6>
            <h6 class="card-subtitle mb-2"><b>- Back End developer -</b></h6>
            <p class="card-text"> Система лайков, прототип таймера.
            </p>
          </div>
        </div>

        <div class="card dev-info-card dev-info-back">
          <div class="card-body">
            <h5 class="card-title">Бернов Андрей</h5>
            <h6 class="card-subtitle mb-2 text-muted">a.k.a. Sparkle</h6>
            <h6 class="card-subtitle mb-2"><b>- Back End developer -</b></h6>
            <p class="card-text"> Работа с профилем: редактирование, ссылки на страницы пользователей, pylint.
            </p>
          </div>
        </div>

        <div class="card dev-info-card dev-info-front">
          <div class="card-body">
            <h5 class="card-title">Беликов Григорий</h5>
            <h6 class="card-subtitle mb-2 text-muted">a.k.a. Manndarinchik</h6>
            <h6 class="card-subtitle mb-2"><b>- Front End lead -</b></h6>
            <p class="card-text"> Базовый шаблон, вёрстка главной страницы, вёрстка страницы about, оформление чата,
                кнопки лайков/дизлайков, работа над визуальной частью чата, эмоджи.
            </p>
          </div>
        </div>

        <div class="card dev-info-card dev-info-front">
          <div class="card-body">
            <h5 class="card-title">Вероника Долгирева</h5>
            <h6 class="card-subtitle mb-2 text-muted">a.k.a. Nika</h6>
            <h6 class="card-subtitle mb-2"><b>- Front End developer -</b></h6>
            <p class="card-text">Полная вёрстка страниц просмотра и редактирования профиля,
                фиксы основной страницы и модалов, визуальная составляющая очереди, адаптация под мобильные устройства,
                кнопка старта стрима, плейсхолдер.
            </p>
          </div>
        </div>

        <div class="card dev-info-card dev-info-front">
          <div class="card-body">
            <h5 class="card-title">Попова Маргарита</h5>
            <h6 class="card-subtitle mb-2 text-muted">a.k.a. Fortys1xand2</h6>
            <h6 class="card-subtitle mb-2"><b>- Front End developer -</b></h6>
            <p class="card-text">Начало работы с RTCMulticonnection, капча, первый прототип очереди, подстановка ника стримера на страницу.
            </p>
          </div>
        </div>

        <div class="card dev-info-card dev-info-front">
          <div class="card-body">
            <h5 class="card-title">Богдан Куликов</h5>
            <h6 class="card-subtitle mb-2 text-muted">a.k.a. Brem</h6>
            <h6 class="card-subtitle mb-2"><b>- Front End developer -</b></h6>
            <p class="card-text">Работа с модалами (логин, регистрация, старт стрима).
            </p>
          </div>
        </div>

        <div class="card dev-info-card dev-info-front">
          <div class="card-body">
            <h5 class="card-title">Кононов Артём</h5>
            <h6 class="card-subtitle mb-2 text-muted">a.k.a. Artem213101zse</h6>
            <h6 class="card-subtitle mb-2"><b>- Front End developer -</b></h6>
            <p class="card-text"> Система лайков, прототип таймера.
            </p>
          </div>
        </div>

        <div class="card dev-info-card dev-info-front">
          <div class="card-body">
            <h5 class="card-title">Тимченко Даниил</h5>
            <h6 class="card-subtitle mb-2 text-muted">a.k.a. Danitim</h6>
            <h6 class="card-subtitle mb-2"><b>- Front End developer -</b></h6>
            <p class="card-text"> Первый прототип визуала очереди, небольшие фронтенд фиксы.
            </p>
          </div>
        </div>
    </div>
<p>
        Avatars generated by <a href="https://avatars.dicebear.com/" title="Dicebear"> www.avatars.dicebear.com</a><br>
        Icons made by <a href="https://www.flaticon.com/authors/vitaly-gorbachev" title="Vitaly Gorbachev">Vitaly Gorbachev</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a><br>
        Streams based on Kurento
</p>
{% endblock %}