{% extends 'bases/base.html' %}
{% load static %}

{% block content %}
<div class="d-flex align-items-stretch">
    <div class="stream-container flex-fill">
        <h3>Разработчики</h3><br>
        <div>
            <h4>Ярослав Гончаров a.k.a. MapLegend a.k.a. AbsoluteLegend <img class="chat-emote" src="{% static 'Pictures\emotes' %}\AbsoluteLegend.png" alt=".~."></h4>
            -Main Developer-- Докер, система CI/CD, развёртывание на сервере, доведение до рабочего состояния трансляций,
            реализация очереди, разбивка на микросервисы, капча, юнит-тесты.
            <br><br>
        </div>
        <div>
            <h4>Горшенев Леонид a.k.a. Leodroid</h4>
            -Team Lead-- Конфигурация Django, фиксы страниц сайта и меню, создание страницы About. Фиксы кода клиентской части и работа с бд. Бекенд для модалов. Фиксы багов.<br><br>
        </div>
        <div>
            <h4>Васильев Андрей a.k.a. Herr der Qual</h4>
            -Backend-- Системы логина и регистрации, настройка уведомлений, система трансляции и просмотра стрима, полная реализация чата.<br><br>
        </div>
        <div>
            <h4>Шутов Никита a.k.a. Wigiglenekit</h4>
            -Backend-- Подстановка названия стрима и описания на страницу, реализация таймера,генерация очереди на странице, документация, report система (не вошла в релиз), улучшение кода для повышения безопасности.<br><br>
        </div>
        <div>
            <h4>Беликов Григорий a.k.a. Manndarinchik</h4>
            -Frontend-- Базовый шаблон, вёрстка прототипа главной страницы, оформление чата, кнопки лайков/дизлайков, работа над визуальной частью чата, эмоджи.<br><br>
        </div>
        <div>
            <h4>Вероника Долгирева a.k.a. Nika</h4>
            -Frontend-- Полная вёрстка страниц просмотра и редактирования профиля, фиксы основной страницы и модалов, визуальная составляющая очереди, адаптация под мобильные устройства, кнопка старта стрима, плейсхолдер.<br><br>
        </div>
        <div>
            <h4>Степанов Николай a.k.a. KodKio</h4>
            -Backend-- Прототип чата, работа с регистрацией, работа с БД, чартами в профиле и топом.<br><br>
        </div>
        <div>
            <h4>Попова Маргарита a.k.a. Fortys1xand2</h4>
            -Frontend-- Начало работы с RTCMulticonnection, капча, первый прототип очереди, подстановка ника стримера на страницу.<br><br>
        </div>
        <div>
            <h4>Богдан Куликов a.k.a. Brem</h4>
            -Frontend-- Работа с модалами (логин, регистрация, старт стрима).<br><br>
        </div>
        <div>
            <h4>Кравцов Андрей a.k.a. KRAVTANDR</h4>
            -Backend-- Система лайков, прототип таймера.<br><br>
        </div>
        <div>
            <h4>Кононов Артём a.k.a. Artem213101zse</h4>
            -Frontend-- Работа над меню, тёмная тема, фронт лайков.<br><br>
        </div>
        <div>
            <h4>Бернов Андрей a.k.a. Sparkle</h4>
            -Backend-- Работа с профилем: редактирование, ссылки на страницы пользователей, pylint.<br><br>
        </div>
        <div>
            <h4>Тимченко даниил a.k.a. Danitim</h4>
            -Frontend-- Первый прототип визуала очереди, небольшие фронтенд фиксы.<br><br>
        </div>
        <br><br>
        Avatars generated by <a href="https://avatars.dicebear.com/" title="Dicebear"> www.avatars.dicebear.com</a><br>
        Icons made by <a href="https://www.flaticon.com/authors/vitaly-gorbachev" title="Vitaly Gorbachev">Vitaly Gorbachev</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a><br>
        Streams (Kurento VS RTCMultiConnection)?
    </div>
</div>
{% endblock %}