{% extends 'bases/base.html' %}
{% load static %}

{% block content %}
<form action="/profile-settings/" id="myForm" method="POST">
    {% csrf_token %}
    <div class="d-flex align-items-stretch center">
        <div class="card-exit">
            <a class="card-exit__pencil" href="/profile_{{item.name}}/">
                <i class="fa fa-arrow-left card-exit__fa-pencil"></i>
            </a>
            <a class="card-exit__times" href="/">
                <i class="fa fa-times card-exit__fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class="profile-container">
            <div class="row no-gutters">
                <div class="avatar">
                    <div class="avatar-exit">
                        <a class="avatar-exit__pencil" href="/profile_{{item.name}}/">
                            <i class="fa fa-arrow-left avatar-exit__fa-pencil"></i>
                        </a>
                        <a class="avatar-exit__times" href="/">
                            <i class="fa fa-times avatar-exit__fa-times" aria-hidden="true"></i>
                        </a>
                    </div>
                    <a class="avatar__upload" data-toggle="modal" data-target="#photoModal">
                        <i class="fa fa-camera avatar_camera" aria-hidden="true"></i>
                    </a>
                    <img class="d-lg-flex justify-content-lg-center avatar__img" src="{% static 'setts.jpg' %}">
                </div>
                <div class="col-sm-6 info">
                    <div class="row">
                        <div class="col-sm info__sm">
                            <h4 class="info__username">Username</h4>
                            <br>
                            <label for="firstname">Name</label>
                            <input name="name" type="text" class="form-control settings-input" id="firstname"
                                   value="{{item.name}}">
                        </div>
                        <div class="col-sm">
                            <div class="container settings-networks">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="location">
                                            <i class="fa fa-map-marker info__gold-color" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input type="text" name="location" class="form-control settings-input"
                                           placeholder="Location" aria-label="Username"
                                           aria-describedby="location" value="{{item.location}}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="email">
                                            <i class="fa fa-envelope info__gold-color" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input type="text" name="email" class="form-control settings-input"
                                           placeholder="Email" aria-label="Username"
                                           aria-describedby="email" value="{{item.email}}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text" id="vk">
                                                <i class="fa fa-vk info__network" aria-hidden="true"></i>
                                            </span>
                                    </div>
                                    <input type="text" name="Vk" class="form-control settings-input" placeholder="Vk"
                                           aria-label="Username"
                                           aria-describedby="vk" value="{{item.Vk}}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text" id="instagram">
                                                <i class="fa fa-instagram info__network" aria-hidden="true"></i>
                                            </span>
                                    </div>
                                    <input type="text" name="instagram" class="form-control settings-input"
                                           placeholder="Instagram"
                                           aria-label="Username" aria-describedby="instagram"
                                           value="{{item.instagram}}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text" id="facebook">
                                                <i class="fa fa-facebook info__network" aria-hidden="true"></i>
                                            </span>
                                    </div>
                                    <input type="text" name="facebook" class="form-control settings-input"
                                           placeholder="Facebook" aria-label="Username"
                                           aria-describedby="facebook" value="{{item.facebook}}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text" id="twitter">
                                                <i class="fa fa-twitter info__network" aria-hidden="true"></i>
                                            </span>
                                    </div>
                                    <input type="text" name="twitter" class="form-control settings-input"
                                           placeholder="Twitter" aria-label="Username"
                                           aria-describedby="twitter" value="{{item.twitter}}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text" id="odnoclassniki">
                                                <i class="fa fa-odnoklassniki info__network" aria-hidden="true"></i>
                                            </span>
                                    </div>
                                    <input type="text" name="odnoklassniki" class="form-control settings-input"
                                           placeholder="Odnoclassniki"
                                           aria-label="Username" aria-describedby="odnoclassniki"
                                           value="{{item.odnoklassniki}}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text" id="youtube">
                                                <i class="fa fa-youtube-play info__network" aria-hidden="true"></i>
                                            </span>
                                    </div>
                                    <input type="text" name="youtube_play" class="form-control settings-input"
                                           placeholder="Youtube" aria-label="Username"
                                           aria-describedby="youtube" value="{{item.youtube_play}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 settings-aboutme-mobile">
                            <h4 class="aboutme-settings">About me:</h4>
                            <div class="container settings-text">
                                <textarea class="settings-textarea" name="quotes">{{item.quotes}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container save-btn">
                    <button type="submit" class="btn stream-btn btn_save">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}