{% extends 'bases/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% render_bundle 'main' %}

{% block content %}
<style>
		video {
			width: 100%;
			height: 100%;
		}
</style>
<script type="text/javascript">
		let l = 0;
		let d = 0;
        function print() {
            let l1, d1 = 0;
            l1 = (100/(l+d))*l;
            d1 = (100/(l+d))*d;
            likebar.setAttribute('style','width:'+Number(l1)+'px');
            dislikebar.setAttribute('style','width:'+Number(d1)+'px');
        }
        function kek() {
            l += 1;
            print();
        }
        function cringe() {
            d += 1;
            print();
        }


</script>


<div class="d-flex align-items-stretch">
    <div class="stream-container flex-fill">
        <div class="row" style="margin-top: 2vh">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div id="stream-figure-overlay"></div>
                        <h4 id="stream-timer-overlay">5:12</h4>
                        <div id="stream-box">
                            <input type="hidden" id="user_room_id" value={{ stream_id }}>
                            <div id="videos-container"></div>
                            <script src="https://rawgit.com/muaz-khan/RTCMultiConnection/master/dist/RTCMultiConnection.min.js">
                            </script>
                            <script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>
                            <img id="placeholder" src="{% static 'Pictures/placeholder1.jpg' %}"
                                 style="width: 100%;object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="navbar navbar-expand-md mb-3">
                            <div class="container-fluid">
                                <h2>Stream title</h2>
                                <button type="button" class="navbar-toggler btn btn-outline-light"
                                        data-toggle="collapse"
                                        data-target="#navbarCollapse">
                                    info
                                </button>
                                <div class="collapse navbar-collapse" id="navbarCollapse">
                                    <div id="stream-info-container" class="bd-highlight">
                                        <h5 class="secondary-text">Streamer alias: <b>UltimateDoge487</b></h5>
                                        <h5 class="secondary-text">Viewers: <b>80082</b></h5>
                                    </div>
                                    <p id="likes"></p>
                                    <div style="display: contents;">
                                        <div class="progress" style="margin:0 50px">
                                            <div id="likebar" class="progress-bar bg-success" role="progressbar"
                                                 style="width:50px" aria-valuenow="30" aria-valuemin="0"
                                                 aria-valuemax="100"></div>

                                            <div id="dislikebar" class="progress-bar bg-danger" role="progressbar"
                                                 style="width:50px" aria-valuenow="30" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>

                                        <button id="like-stream" onclick="kek();"
                                                class="flex-sm-fill btn btn-outline-success align-self-stretch"
                                                style="margin: 0 10px">
                                            <img class="like-img inline-block center-align"
                                                 src="/static/thumb-green.svg">
                                            <br>
                                            <h4 class="inline-block center-align">Kek</h4>
                                        </button>


                                        <button id="dislike-stream" onclick="cringe();"
                                                class="flex-sm-fill btn btn-outline-danger align-self-stretch"
                                                style="margin: 0 10px">
                                            <img class="dislike-img inline-block center-align"
                                                 src="/static/thumb-red.svg">
                                            <br>
                                            <h4 class="inline-block center-align">Cringe</h4>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block chat %}
            {% include 'chat/chat.html' %}
            {% endblock chat %}
        </div>
		<div class="row" style="margin-top: 2vh; background-color: #424556;">
            {% for i in '0123456789'|make_list %}
                <div class="oval col-sm-5 col-md-2 col-lg-1">{{i}}</div>
            {% endfor %}
        </div>
		</div>
	</div>
{% endblock %}

{% block extra_js %}
	{% load static %}
	{% render_bundle 'main' 'js' %}
{% endblock %}
