<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header-back"></div>
        <h3 class="modal-title" id="exampleModalLabel">Login</h3>
      <div class="modal-body">
          	<div class="row">
		<div class="col mt-3">

			<div class="container login-warning-error mb-3 d-none" id="login-warning">
				<h5 class="login-warning-text text-center">Incorrect login or password</h5>
				<p class="text-center">If you forget your password you can <a href="" class="link">Reset it</a></p>
			</div>
				<button onclick="error('login-warning', '500px', '450px')">TMP</button>
				<div class="container">
					<form method="POST" id="add_form" action="">
                        {% csrf_token %}
						<div class="input-group mb-3 login-input">
								<i class="fas fa-user login-icons"></i>
								<input type="text" class="form-control login-input lp" placeholder="Username" aria-label="Username"
                                                                                aria-describedby="basic-addon1">
						</div>
						<div class="input-group mb-3 login-input">
								<i class="fas fa-lock login-icons"></i>
								<input type="text" class="form-control login-input lp" placeholder="Password" aria-label="Password"
                                                                                aria-describedby="basic-addon1">
						</div>
						<div class="custom-control custom-checkbox mb-3">
      							<input type="checkbox" class="custom-control-input" id="customCheck" name="checkbox">
								<label class="custom-control-label" for="customCheck">Remember me</label>
    					</div>
						<div class="form-group text-center">
							<div class="submit">
								<button type="submit" class="btn btn-lg btn-cust"><h2>SIGN IN</h2></button>
							</div>
						</div>
						<br>
						<div class="text-center">
							<h6>Not registered yet, <a href="/register/" class="link">Sing Up</a></h6>
						</div>
					</form>
				</div>
		</div>
	</div>
      </div>
    </div>
  </div>
</div>

