<div class="modal fade" id="startModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog  modal-dialog-centered" role="document">
		<div class="modal-content modal-cont-start">
			<div class="modal-header-back"></div>
			<h3 class="modal-title" id="exampleModalLabel">Start</h3>
			<div class="modal-body">
				<div class="row">
					<div class="col mt-3">
						<div class="container">
							<form method="POST" id="add_form" action="">
								{% csrf_token %}

									<div class="text-center">
										<h5>Title</h5>
									</div>
								<div class="input-group mb-3 login-input">
									<!--	<i class="fas fa-puzzle-piece"></i>		-->
									<input name="username" type="text" class="form-control login-input lp" placeholder="Title" aria-label="Title"
										   aria-describedby="basic-addon1">
								</div>

								<div class="text-center">
										<h5>Description</h5>
								</div>
								<div class="form-group text-center">
									<textarea class="form-control textarea-start" id="exampleFormControlTextarea1" rows="3" placeholder="Description"></textarea>
								</div>
								<div class="form-group text-center mt-4">
									<div class="form-group" style="display: inline-flex;">
										<div class="container">
											<div class="row justify-content-around">
												<div class="col">
													<button type="button" class="btn btn-lg btn-start-cust" id="btn-connect-webcam" data-toggle="modal" data-dismiss="modal">
														Webcam
													</button>
												</div>
												<div class="col-lg-">

												</div>
												<div class="col">
													<button type="button" class="btn btn-lg btn-start-cust" id="btn-connect-screen" data-toggle="modal" data-dismiss="modal">
														Screen
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

