.file_name{
 margin: 0;
 color: grey;
}
.example-1 .form-group {
 padding: 1em;
 margin: 0em 1em 0em 1em;
}

.photo-modal-footer{
 display: flex;
 justify-content: space-evenly;
}

.photo-modal-footer__text{
 color: grey;
 padding: 0;

}

.photo-modal-footer__btn{
 border-radius: 0px;
}

.example-1 input[type=file] {
 outline: 0;
 opacity: 0;
 pointer-events: none;
 user-select: none
}

.example-1 .label {
 border: 2px dashed grey;
 border-radius: 5px;
 display: block;
 padding: 1.2em;
 transition: border 300ms ease;
 cursor: pointer;
 text-align: center
}

.example-1 .label i {
 display: block;
 font-size: 42px;
 padding-bottom: 16px
}

.example-1 .label i,
.example-1 .label .title {
 color: grey;
 transition: 200ms color
}

.example-1 .label:hover {
 border: 2px solid #28a745
}

.example-1 .label:hover i,
.example-1 .label:hover .title {
 color: #28a745
}