.profile-pic {
    width: 120px;
    height: 120px;
}

.profile-data {
    margin-left: 160px;
}

.fa-pen {
    color: #dfc97d;
    font-size: 0.5em;
    opacity: 0.5;
}

.fa-map-marker-alt {
    color: #dfc97d;
}

.profile-location {
    color: white;
    display: inline-block;
    font-size: 0.75em;
    opacity: 0.5;
}

.profile-bio {
    font-size: 1.25em;
}