.queue-slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: 1280px;
}

.queue-slider__arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-size: 10px;
}

.queue-slider__ul{
    display: flex;
    list-style: none;
    overflow: hidden;
    padding: 1em 0;
    margin: 0 1em;
    width: 90%;
}

.queue-slider__ul__li{
    text-align: center;
    background-color: #333645;
    margin: 1em;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.queue-slider__ul__li__img{
    border-radius: 50%;
    width: 130px;
    height: 130px;
}