.top-padding{
    margin-top: 2vh
}
.stream-container {
    position: relative;
    width: 60vw;
    padding-bottom: 56.25%
}

#stream-box {
    position: relative;
    z-index: 0;
    width: 100%;
    /*height: 600px;*/
    background-color: #C4C4C4;
    box-shadow: 0px 7px 11px -4px rgba(0, 0, 0, 0.36);
}

#stream-figure-overlay {
    padding: 0;
    border-top: 40px solid rgba(21, 29, 49, 0.5);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    width: 140px;
    height: 0;
    background-color: none;
    z-index: 20;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    text-align: center;
}

.stream-btn {
    margin-right: 10px;
    border-radius: 0;
}

.stream-buttons {
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-between;
}

.w-50 {
    width: 30vh !important;
}
.stream-viewers-resize{
        padding: 1em 0em 0em;
        padding-right: 2.5em;
}
.stream-title-resize{
    padding-top: 1em;
}
#stream-timer-overlay {
    font-weight: 700;
    background-color: none;
    z-index: 30;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    text-align: center;
}

#dislike-stream,
#like-stream {
    color: #FAEEEE;
    border: none;
    padding: 0;
    margin-left: 20px;
    margin-top: 10px;
}

#dislike-stream:hover,
#like-stream:hover {
    background: #424556;
}

.dislike-img {
    /*margin-right: 20px;
    margin-bottom: 25px;*/
    transform: rotate(-180deg);
    height: 80px;
    margin: 10px 10px 0px;
}

.like-img {
    /*margin-right: 20px;
    top: -25px;*/
    height: 80px;
    margin: 10px 10px 0px;
    /*margin-bottom: 20px;*/
}

#dislike-stream *,
#like-stream * {
    font-size: 2em;
}

#stream-info-container {
    margin-left: 40px;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.center-align {
    vertical-align: middle;
}

.secondary-text {
    color: #DCD0D0;
}
