{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="col mt-3">
		<form method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<input class="btn btn-success" type="submit" value="Восстановить мой пароль">
		</form>
	</div>
	<div class="alert alert-warning col mt-3">
		<h3>Перед нажатием кнопки "Восстановить мой пароль" проделай следующее:</h3>
		<ol>
			<li>Открой терминал</li>
			<li>Введи команду: python -m smtpd -n -c DebuggingServer localhost:1025</li>
			<li>Нажми Enter</li>
		</ol>
	</div>
</div>

{% if form.errors %}
<div class="alert alert-danger">
	<ul>
		{% for field, errors in form.errors.items %}
		{% for error in errors %}
		<li>{{ error }}</li>
		{% endfor %}
		{% endfor %}
	</ul>
</div>
{% endif %}
{% endblock %}