{% extends 'base.html' %}

{% block content %}
<div id="content" class="container">
	<div class="col mt-3">
		<div class="alert alert-dark">

			<h1>Письмо с инструкциями по восстановлению пароля отправлено</h1>

			<p>Мы отправили на вышу почту инструкции для восстановления пароля.
				Вы должны получить письмо в ближайшее время,
				если аккаунт существует с почтой, которую Вы ввели.
			</p>
			<p>Если вы не получили письмо, пожалуйста проверьте правильность ввода почты,
				которая была указана при зарегистрации. А также проверьте папку со спамом.
			</p>
			<br class="clear">
		</div>
	</div>

</div>

{% endblock %}