<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>page2</title>
    </head>
    <body>
        <h3> this is a video stream test</h3>
        <input type="hidden" id="room_id" value="2">
        <button id="btn-connect">Stream</button>
        <div id="videos-container"></div>
        <script src="https://rawgit.com/muaz-khan/RTCMultiConnection/master/dist/RTCMultiConnection.min.js"></script>
        <script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>
        {% load static %}
        <script src="{% static 'js/streaming_prototype.js' %}"></script>
    </body>
</html>